# project data files
data
model
logs
tools

# IntelliJ project files
.idea
*.iml
out
gen

# temp files
list_subs.bat
publish_draft.js
rename.py
segment_viewer.py
sl_speaker_position_test.ipynb
todo.txt